{
  "openapi": "3.0.3",
  "info": {
    "title": "Shirt Lab Free Icons & Game Assets",
    "version": "1.0.0",
    "description": "Search SVG icons, native PNG artwork, pixel art and game assets. Metadata includes creator licences, source downloads, a canonical Shirt Lab Wiki page and a link to find the asset in the shirt designer. Free access; artwork retains its individual creator licence. RapidAPI supplies its own gateway credentials; no additional Shirt Lab API key is needed.",
    "contact": {
      "name": "Shirt Lab Assets",
      "url": "https://shirtlab.lol/wiki/"
    },
    "license": {
      "name": "MIT (original library code only; artwork has individual licences)",
      "url": "https://github.com/gary23w/shirtlab-assets/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://shirtlab.lol/api/wiki/v1",
      "description": "Live, public Shirt Lab Assets API"
    }
  ],
  "paths": {
    "/manifest": {
      "get": {
        "operationId": "manifest",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Manifest"
                },
                "example": {
                  "schema": "shirtlab.assets.v1",
                  "version": "v1-bf005161f9253da0e486",
                  "count": 439476,
                  "packCount": 393,
                  "formats": [
                    "svg",
                    "png"
                  ],
                  "licenses": [
                    "AGPL-3.0",
                    "AGPL-3.0-only",
                    "AGPL-3.0-or-later",
                    "Apache-2.0",
                    "BSD-2-Clause",
                    "BSD-3-Clause",
                    "CC-BY-2.5",
                    "CC-BY-3.0",
                    "CC-BY-4.0",
                    "CC-BY-SA-2.0",
                    "CC-BY-SA-2.5",
                    "CC-BY-SA-3.0",
                    "CC-BY-SA-4.0",
                    "CC0-1.0",
                    "GPL-2.0",
                    "GPL-2.0-only",
                    "GPL-2.0-or-later",
                    "GPL-3.0",
                    "GPL-3.0-only",
                    "GPL-3.0-or-later",
                    "ISC",
                    "LGPL-2.1",
                    "LGPL-3.0",
                    "LicenseRef-Icons8-Good-Boy",
                    "MIT",
                    "MPL-2.0",
                    "OFL-1.1",
                    "OFL-1.1 AND CC-BY-3.0",
                    "Unlicense"
                  ],
                  "search": {
                    "mode": "all-words",
                    "maximumQueryLength": 160,
                    "maximumWords": 8,
                    "stopWords": [
                      "icon",
                      "icons",
                      "graphic",
                      "graphics",
                      "original",
                      "artwork",
                      "source"
                    ],
                    "pluralForms": true
                  },
                  "dataset": "https://shirtlab.lol/wiki/data/v1-bf005161f9253da0e486/manifest.json",
                  "datasetSha256": "1801e39b69b96262421403cc6e1214d020c62dafd83dd0499fef848419391e8b",
                  "catalogueSha256": "52f73cf300daa0cb1ae9cd36a99acf3113d2c7c95f8ec8842a0876b91782d223",
                  "openapi": "https://shirtlab.lol/api/wiki/v1/openapi.json",
                  "source": "https://github.com/gary23w/shirtlab-assets"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query or unavailable format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Snapshot changed. Refresh /manifest and restart pagination.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The catalogue or source file is temporarily unavailable. Retry later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Catalogue"
        ],
        "summary": "Get the library version and capabilities",
        "description": "Use this lightweight endpoint as the health check. Counts represent downloadable asset representations, including style variants. Fetch version before a paginated collection export.",
        "externalDocs": {
          "description": "Shirt Lab Wiki API documentation, downloads and collections",
          "url": "https://shirtlab.lol/wiki/api/"
        }
      }
    },
    "/packs": {
      "get": {
        "operationId": "packs",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Packs"
                },
                "example": {
                  "version": "v1-bf005161f9253da0e486",
                  "results": [
                    {
                      "prefix": "academicons",
                      "name": "Academicons",
                      "count": 158,
                      "author": {
                        "name": "James Walsh",
                        "url": "https://github.com/jpswalsh/academicons"
                      },
                      "license": {
                        "title": "Open Font License",
                        "spdx": "OFL-1.1",
                        "url": "https://raw.githubusercontent.com/jpswalsh/academicons/67339d46e44693f438529e0eb6eebbe3d8c9579d/README.md"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/academicons/LICENSE.txt",
                      "licenseSha256": "5d9b3f7090327d9292a5f78dd294995b29ddc47a34d15ae82a764e3e51f98966",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/academicons.json",
                      "vectorCount": 158,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/academicons/"
                    },
                    {
                      "prefix": "akar-icons",
                      "name": "Akar Icons",
                      "count": 458,
                      "author": {
                        "name": "Arturo Wibawa",
                        "url": "https://github.com/artcoholic/akar-icons"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/artcoholic/akar-icons/master/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/akar-icons/LICENSE.txt",
                      "licenseSha256": "87500dbc60dd758dc91c72927a647ed4fdb162effc6dbc2073a2c9f51ba695c0",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/akar-icons.json",
                      "vectorCount": 425,
                      "rasterCount": 33,
                      "url": "https://shirtlab.lol/wiki/packs/akar-icons/"
                    },
                    {
                      "prefix": "ant-design",
                      "name": "Ant Design Icons",
                      "count": 848,
                      "author": {
                        "name": "HeskeyBaozi",
                        "url": "https://github.com/ant-design/ant-design-icons"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/ant-design/ant-design-icons/master/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/ant-design/LICENSE.txt",
                      "licenseSha256": "5d367fb0a07340571542eb4ee8eb1add62d37b71bad6786a57c2e9a86bf76c70",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/ant-design.json",
                      "vectorCount": 848,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/ant-design/"
                    },
                    {
                      "prefix": "arcticons",
                      "name": "Arcticons",
                      "count": 15405,
                      "author": {
                        "name": "Donnnno",
                        "url": "https://github.com/Arcticons-Team/Arcticons"
                      },
                      "license": {
                        "title": "CC BY-SA 4.0",
                        "spdx": "CC-BY-SA-4.0",
                        "url": "https://creativecommons.org/licenses/by-sa/4.0/legalcode.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/arcticons/LICENSE.txt",
                      "licenseSha256": "28a9529c7d0bb4dc51f4bf5c116a3d16ef247a052f7591466768ddf563fd1cf5",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/arcticons.json",
                      "vectorCount": 15368,
                      "rasterCount": 37,
                      "url": "https://shirtlab.lol/wiki/packs/arcticons/"
                    },
                    {
                      "prefix": "at-icons",
                      "name": "@icons",
                      "count": 643,
                      "author": {
                        "name": "Valentin Fossati",
                        "url": "https://github.com/Voxybuns/at-icons"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/Voxybuns/at-icons/main/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/at-icons/LICENSE.txt",
                      "licenseSha256": "93587db9cd76b3885a2337de6c31bb93f84f2df1716e71f5565e97f5cff02a08",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/at-icons.json",
                      "vectorCount": 624,
                      "rasterCount": 19,
                      "url": "https://shirtlab.lol/wiki/packs/at-icons/"
                    },
                    {
                      "prefix": "basil",
                      "name": "Basil",
                      "count": 496,
                      "author": {
                        "name": "Craftwork",
                        "url": "https://www.figma.com/community/file/931906394678748246"
                      },
                      "license": {
                        "title": "CC BY 4.0",
                        "spdx": "CC-BY-4.0",
                        "url": "https://creativecommons.org/licenses/by/4.0/legalcode.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/basil/LICENSE.txt",
                      "licenseSha256": "9ba9550ad48438d0836ddab3da480b3b69ffa0aac7b7878b5a0039e7ab429411",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/basil.json",
                      "vectorCount": 494,
                      "rasterCount": 2,
                      "url": "https://shirtlab.lol/wiki/packs/basil/"
                    },
                    {
                      "prefix": "bi",
                      "name": "Bootstrap Icons",
                      "count": 2084,
                      "author": {
                        "name": "The Bootstrap Authors",
                        "url": "https://github.com/twbs/icons"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/twbs/icons/main/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/bi/LICENSE.txt",
                      "licenseSha256": "0fb3e11bd57e896c5a512afd64864d28a37de45d19835016c87ca1ad19ead969",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/bi.json",
                      "vectorCount": 2082,
                      "rasterCount": 2,
                      "url": "https://shirtlab.lol/wiki/packs/bi/"
                    },
                    {
                      "prefix": "bitcoin-icons",
                      "name": "Bitcoin Icons",
                      "count": 330,
                      "author": {
                        "name": "Bitcoin Design Community",
                        "url": "https://github.com/BitcoinDesign/Bitcoin-Icons"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/BitcoinDesign/Bitcoin-Icons/main/LICENSE-MIT"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/bitcoin-icons/LICENSE.txt",
                      "licenseSha256": "bf1e4b844f1ebd0c159df189fdbad0d9604e653257880cb2ef97bb3106f5fe9b",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/bitcoin-icons.json",
                      "vectorCount": 326,
                      "rasterCount": 4,
                      "url": "https://shirtlab.lol/wiki/packs/bitcoin-icons/"
                    },
                    {
                      "prefix": "boxicons",
                      "name": "Boxicons",
                      "count": 3768,
                      "author": {
                        "name": "Boxicons",
                        "url": "https://github.com/box-icons/boxicons-core"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/box-icons/boxicons-core/main/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/boxicons/LICENSE.txt",
                      "licenseSha256": "dca215a1be0e0c7ea96fe338a869bcd313313049d8bdc3da9f2822fa293193e4",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/boxicons.json",
                      "vectorCount": 3768,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/boxicons/"
                    },
                    {
                      "prefix": "bpmn",
                      "name": "BPMN",
                      "count": 112,
                      "author": {
                        "name": "Camunda Services GmbH",
                        "url": "https://github.com/bpmn-io/bpmn-font"
                      },
                      "license": {
                        "title": "Open Font License",
                        "spdx": "OFL-1.1",
                        "url": "https://raw.githubusercontent.com/bpmn-io/bpmn-font/master/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/bpmn/LICENSE.txt",
                      "licenseSha256": "e8b9c680806960866fef0bddc98903f61b0e4a53de59fb1e90c0c2723eb06c02",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/bpmn.json",
                      "vectorCount": 112,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/bpmn/"
                    },
                    {
                      "prefix": "brandico",
                      "name": "Brandico",
                      "count": 45,
                      "author": {
                        "name": "Fontello",
                        "url": "https://github.com/fontello/brandico.font"
                      },
                      "license": {
                        "title": "CC BY SA",
                        "spdx": "CC-BY-SA-3.0",
                        "url": "https://creativecommons.org/licenses/by-sa/3.0/legalcode.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/brandico/LICENSE.txt",
                      "licenseSha256": "3f941b3b89cf7b8370ceb83cc76d2120d471b58735d8ca60238a751a48d7f72f",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/brandico.json",
                      "vectorCount": 45,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/brandico/"
                    },
                    {
                      "prefix": "bubbles",
                      "name": "Bubbles",
                      "count": 409,
                      "author": {
                        "name": "Leemons",
                        "url": "https://github.com/leemonade/bubbles"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/leemonade/bubbles/main/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/bubbles/LICENSE.txt",
                      "licenseSha256": "4549a8996d1a3126f11a2689631acf9b814fb247325c919c21280bb86dc9e242",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/bubbles.json",
                      "vectorCount": 391,
                      "rasterCount": 18,
                      "url": "https://shirtlab.lol/wiki/packs/bubbles/"
                    },
                    {
                      "prefix": "bx",
                      "name": "BoxIcons v2",
                      "count": 1609,
                      "author": {
                        "name": "Boxicons",
                        "url": "https://github.com/box-icons/boxicons"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/box-icons/boxicons/main/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/bx/LICENSE.txt",
                      "licenseSha256": "dca215a1be0e0c7ea96fe338a869bcd313313049d8bdc3da9f2822fa293193e4",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/bx.json",
                      "vectorCount": 1609,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/bx/"
                    },
                    {
                      "prefix": "bxl",
                      "name": "Boxicons Brands",
                      "count": 299,
                      "author": {
                        "name": "Boxicons",
                        "url": "https://github.com/box-icons/boxicons-core"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/box-icons/boxicons-core/main/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/bxl/LICENSE.txt",
                      "licenseSha256": "dca215a1be0e0c7ea96fe338a869bcd313313049d8bdc3da9f2822fa293193e4",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/bxl.json",
                      "vectorCount": 299,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/bxl/"
                    },
                    {
                      "prefix": "bxs",
                      "name": "BoxIcons v2 Solid",
                      "count": 665,
                      "author": {
                        "name": "Boxicons",
                        "url": "https://github.com/box-icons/boxicons"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/box-icons/boxicons/main/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/bxs/LICENSE.txt",
                      "licenseSha256": "dca215a1be0e0c7ea96fe338a869bcd313313049d8bdc3da9f2822fa293193e4",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/bxs.json",
                      "vectorCount": 665,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/bxs/"
                    },
                    {
                      "prefix": "bytesize",
                      "name": "Bytesize Icons",
                      "count": 102,
                      "author": {
                        "name": "Dan Klammer",
                        "url": "https://github.com/danklammer/bytesize-icons"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/danklammer/bytesize-icons/master/LICENSE.md"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/bytesize/LICENSE.txt",
                      "licenseSha256": "29b7125ec7139a4b56d454eeddbeed7afc312a8fb97f8eaa2edfbb7f823fb481",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/bytesize.json",
                      "vectorCount": 102,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/bytesize/"
                    },
                    {
                      "prefix": "carbon",
                      "name": "Carbon",
                      "count": 2776,
                      "author": {
                        "name": "IBM",
                        "url": "https://github.com/carbon-design-system/carbon/tree/main/packages/icons"
                      },
                      "license": {
                        "title": "Apache 2.0",
                        "spdx": "Apache-2.0",
                        "url": "https://raw.githubusercontent.com/carbon-design-system/carbon/main/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/carbon/LICENSE.txt",
                      "licenseSha256": "037b3e9eaff51477b270e9082f54b99175e4dd893548654f00995045b68294b8",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/carbon.json",
                      "vectorCount": 2775,
                      "rasterCount": 1,
                      "url": "https://shirtlab.lol/wiki/packs/carbon/"
                    },
                    {
                      "prefix": "catppuccin",
                      "name": "Catppuccin Icons",
                      "count": 659,
                      "author": {
                        "name": "Catppuccin",
                        "url": "https://github.com/catppuccin/vscode-icons"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/catppuccin/vscode-icons/main/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/catppuccin/LICENSE.txt",
                      "licenseSha256": "dab37945e3097e43c74c08437196152a50f8d5d5e1d0335f469b203e183e21b8",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/catppuccin.json",
                      "vectorCount": 657,
                      "rasterCount": 2,
                      "url": "https://shirtlab.lol/wiki/packs/catppuccin/"
                    },
                    {
                      "prefix": "charm",
                      "name": "Charm Icons",
                      "count": 262,
                      "author": {
                        "name": "Jay Newey",
                        "url": "https://github.com/jaynewey/charm-icons"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/jaynewey/charm-icons/main/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/charm/LICENSE.txt",
                      "licenseSha256": "93aa1446e426e7e51a39de1a3a14ad2e5dbc5b13407bf9330c64bf1aae8cc7fb",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/charm.json",
                      "vectorCount": 262,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/charm/"
                    },
                    {
                      "prefix": "ci",
                      "name": "coolicons",
                      "count": 715,
                      "author": {
                        "name": "Kryston Schwarze",
                        "url": "https://github.com/krystonschwarze/coolicons"
                      },
                      "license": {
                        "title": "CC BY 4.0",
                        "spdx": "CC-BY-4.0",
                        "url": "https://creativecommons.org/licenses/by/4.0/legalcode.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/ci/LICENSE.txt",
                      "licenseSha256": "9ba9550ad48438d0836ddab3da480b3b69ffa0aac7b7878b5a0039e7ab429411",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/ci.json",
                      "vectorCount": 711,
                      "rasterCount": 4,
                      "url": "https://shirtlab.lol/wiki/packs/ci/"
                    },
                    {
                      "prefix": "cib",
                      "name": "CoreUI Brands",
                      "count": 830,
                      "author": {
                        "name": "creativeLabs Łukasz Holeczek",
                        "url": "https://github.com/coreui/coreui-icons"
                      },
                      "license": {
                        "title": "CC0 1.0",
                        "spdx": "CC0-1.0",
                        "url": "https://creativecommons.org/publicdomain/zero/1.0/legalcode.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/cib/LICENSE.txt",
                      "licenseSha256": "a2010f343487d3f7618affe54f789f5487602331c0a8d03f49e9a7c547cf0499",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/cib.json",
                      "vectorCount": 830,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/cib/"
                    },
                    {
                      "prefix": "cif",
                      "name": "CoreUI Flags",
                      "count": 199,
                      "author": {
                        "name": "creativeLabs Łukasz Holeczek",
                        "url": "https://github.com/coreui/coreui-icons"
                      },
                      "license": {
                        "title": "CC0 1.0",
                        "spdx": "CC0-1.0",
                        "url": "https://creativecommons.org/publicdomain/zero/1.0/legalcode.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/cif/LICENSE.txt",
                      "licenseSha256": "a2010f343487d3f7618affe54f789f5487602331c0a8d03f49e9a7c547cf0499",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/cif.json",
                      "vectorCount": 177,
                      "rasterCount": 22,
                      "url": "https://shirtlab.lol/wiki/packs/cif/"
                    },
                    {
                      "prefix": "cil",
                      "name": "CoreUI Free",
                      "count": 562,
                      "author": {
                        "name": "creativeLabs Łukasz Holeczek",
                        "url": "https://github.com/coreui/coreui-icons"
                      },
                      "license": {
                        "title": "CC BY 4.0",
                        "spdx": "CC-BY-4.0",
                        "url": "https://creativecommons.org/licenses/by/4.0/legalcode.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/cil/LICENSE.txt",
                      "licenseSha256": "9ba9550ad48438d0836ddab3da480b3b69ffa0aac7b7878b5a0039e7ab429411",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/cil.json",
                      "vectorCount": 562,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/cil/"
                    },
                    {
                      "prefix": "circle-flags",
                      "name": "Circle Flags",
                      "count": 718,
                      "author": {
                        "name": "HatScripts",
                        "url": "https://github.com/HatScripts/circle-flags"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/HatScripts/circle-flags/gh-pages/LICENSE.md"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/circle-flags/LICENSE.txt",
                      "licenseSha256": "9ef248a32ebbb1587b7c4caa3203a33065de29aa6098a6933bad67de2057e72f",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/circle-flags.json",
                      "vectorCount": 0,
                      "rasterCount": 718,
                      "url": "https://shirtlab.lol/wiki/packs/circle-flags/"
                    },
                    {
                      "prefix": "circum",
                      "name": "Circum Icons",
                      "count": 288,
                      "author": {
                        "name": "Klarr Agency",
                        "url": "https://github.com/Klarr-Agency/Circum-Icons"
                      },
                      "license": {
                        "title": "Mozilla Public License 2.0",
                        "spdx": "MPL-2.0",
                        "url": "https://raw.githubusercontent.com/Klarr-Agency/Circum-Icons/main/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/circum/LICENSE.txt",
                      "licenseSha256": "4b89d4518bd135ab4ee154a7bce722246b57a98c3d7efc1a09409898160c2bd1",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/circum.json",
                      "vectorCount": 288,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/circum/"
                    },
                    {
                      "prefix": "clarity",
                      "name": "Clarity",
                      "count": 1105,
                      "author": {
                        "name": "VMware",
                        "url": "https://github.com/vmware/clarity"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/vmware/clarity-assets/master/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/clarity/LICENSE.txt",
                      "licenseSha256": "144757b53192e700f7fd7d7de1ef2d2e97f968556d4fbd3e7ca9bfce90a4482e",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/clarity.json",
                      "vectorCount": 1104,
                      "rasterCount": 1,
                      "url": "https://shirtlab.lol/wiki/packs/clarity/"
                    },
                    {
                      "prefix": "codex",
                      "name": "CodeX Icons",
                      "count": 78,
                      "author": {
                        "name": "CodeX",
                        "url": "https://github.com/codex-team/icons"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/codex-team/icons/master/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/codex/LICENSE.txt",
                      "licenseSha256": "bf722899da473f97a22698ffd5e4dca9153209691afd4f0a1f38541ca97ddcb1",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/codex.json",
                      "vectorCount": 78,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/codex/"
                    },
                    {
                      "prefix": "codicon",
                      "name": "Codicons",
                      "count": 657,
                      "author": {
                        "name": "Microsoft Corporation",
                        "url": "https://github.com/microsoft/vscode-codicons"
                      },
                      "license": {
                        "title": "CC BY 4.0",
                        "spdx": "CC-BY-4.0",
                        "url": "https://raw.githubusercontent.com/microsoft/vscode-codicons/main/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/codicon/LICENSE.txt",
                      "licenseSha256": "af5e030844efddbc7ab00dcfea8b019703753d4d9f5172d727c533a492aec665",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/codicon.json",
                      "vectorCount": 657,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/codicon/"
                    },
                    {
                      "prefix": "covid",
                      "name": "Covid Icons",
                      "count": 142,
                      "author": {
                        "name": "Streamline",
                        "url": "https://github.com/webalys-hq/streamline-vectors"
                      },
                      "license": {
                        "title": "CC BY 4.0",
                        "spdx": "CC-BY-4.0",
                        "url": "https://creativecommons.org/licenses/by/4.0/legalcode.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/covid/LICENSE.txt",
                      "licenseSha256": "9ba9550ad48438d0836ddab3da480b3b69ffa0aac7b7878b5a0039e7ab429411",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/covid.json",
                      "vectorCount": 141,
                      "rasterCount": 1,
                      "url": "https://shirtlab.lol/wiki/packs/covid/"
                    },
                    {
                      "prefix": "cryptocurrency-color",
                      "name": "Cryptocurrency Color Icons",
                      "count": 483,
                      "author": {
                        "name": "Christopher Downer",
                        "url": "https://github.com/atomiclabs/cryptocurrency-icons"
                      },
                      "license": {
                        "title": "CC0 1.0",
                        "spdx": "CC0-1.0",
                        "url": "https://creativecommons.org/publicdomain/zero/1.0/legalcode.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/cryptocurrency-color/LICENSE.txt",
                      "licenseSha256": "a2010f343487d3f7618affe54f789f5487602331c0a8d03f49e9a7c547cf0499",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/cryptocurrency-color.json",
                      "vectorCount": 478,
                      "rasterCount": 5,
                      "url": "https://shirtlab.lol/wiki/packs/cryptocurrency-color/"
                    },
                    {
                      "prefix": "cryptocurrency",
                      "name": "Cryptocurrency Icons",
                      "count": 483,
                      "author": {
                        "name": "Christopher Downer",
                        "url": "https://github.com/atomiclabs/cryptocurrency-icons"
                      },
                      "license": {
                        "title": "CC0 1.0",
                        "spdx": "CC0-1.0",
                        "url": "https://creativecommons.org/publicdomain/zero/1.0/legalcode.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/cryptocurrency/LICENSE.txt",
                      "licenseSha256": "a2010f343487d3f7618affe54f789f5487602331c0a8d03f49e9a7c547cf0499",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/cryptocurrency.json",
                      "vectorCount": 483,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/cryptocurrency/"
                    },
                    {
                      "prefix": "cuida",
                      "name": "Cuida Icons",
                      "count": 182,
                      "author": {
                        "name": "Sysvale",
                        "url": "https://github.com/Sysvale/cuida-icons"
                      },
                      "license": {
                        "title": "Apache 2.0",
                        "spdx": "Apache-2.0",
                        "url": "https://raw.githubusercontent.com/Sysvale/cuida-icons/main/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/cuida/LICENSE.txt",
                      "licenseSha256": "c71d239df91726fc519c6eb72d318ec65820627232b2f796219e87dcf35d0ab4",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/cuida.json",
                      "vectorCount": 182,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/cuida/"
                    },
                    {
                      "prefix": "dashicons",
                      "name": "Dashicons",
                      "count": 345,
                      "author": {
                        "name": "WordPress",
                        "url": "https://github.com/WordPress/dashicons"
                      },
                      "license": {
                        "title": "GPL",
                        "spdx": "GPL-2.0-or-later",
                        "url": "https://raw.githubusercontent.com/WordPress/dashicons/master/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/dashicons/LICENSE.txt",
                      "licenseSha256": "8ceb4b9ee5adedde47b31e975c1d90c73ad27b6b165a1dcd80c7c545eb65b903",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/dashicons.json",
                      "vectorCount": 345,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/dashicons/"
                    },
                    {
                      "prefix": "devicon-line",
                      "name": "Devicon Line",
                      "count": 69,
                      "author": {
                        "name": "konpa",
                        "url": "https://github.com/devicons/devicon/tree/master"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/devicons/devicon/master/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/devicon-line/LICENSE.txt",
                      "licenseSha256": "121194741d4a915b9f5890fdd6dd95121f9b1f816517c792358d72d7c838d664",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/devicon-line.json",
                      "vectorCount": 69,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/devicon-line/"
                    },
                    {
                      "prefix": "devicon-original",
                      "name": "Devicon Original",
                      "count": 659,
                      "author": {
                        "name": "konpa",
                        "url": "https://github.com/devicons/devicon/tree/master"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/devicons/devicon/master/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/devicon-original/LICENSE.txt",
                      "licenseSha256": "121194741d4a915b9f5890fdd6dd95121f9b1f816517c792358d72d7c838d664",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/devicon-original.json",
                      "vectorCount": 625,
                      "rasterCount": 34,
                      "url": "https://shirtlab.lol/wiki/packs/devicon-original/"
                    },
                    {
                      "prefix": "devicon-plain",
                      "name": "Devicon Plain",
                      "count": 800,
                      "author": {
                        "name": "konpa",
                        "url": "https://github.com/devicons/devicon/tree/master"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/devicons/devicon/master/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/devicon-plain/LICENSE.txt",
                      "licenseSha256": "121194741d4a915b9f5890fdd6dd95121f9b1f816517c792358d72d7c838d664",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/devicon-plain.json",
                      "vectorCount": 796,
                      "rasterCount": 4,
                      "url": "https://shirtlab.lol/wiki/packs/devicon-plain/"
                    },
                    {
                      "prefix": "devicon",
                      "name": "Devicon",
                      "count": 1063,
                      "author": {
                        "name": "konpa",
                        "url": "https://github.com/devicons/devicon/tree/master"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/devicons/devicon/master/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/devicon/LICENSE.txt",
                      "licenseSha256": "121194741d4a915b9f5890fdd6dd95121f9b1f816517c792358d72d7c838d664",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/devicon.json",
                      "vectorCount": 1018,
                      "rasterCount": 45,
                      "url": "https://shirtlab.lol/wiki/packs/devicon/"
                    },
                    {
                      "prefix": "dinkie-icons",
                      "name": "Dinkie Icons",
                      "count": 1198,
                      "author": {
                        "name": "atelierAnchor",
                        "url": "https://github.com/atelier-anchor/dinkie-icons"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/atelier-anchor/dinkie-icons/main/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/dinkie-icons/LICENSE.txt",
                      "licenseSha256": "3c7ce092c886d0d14224330ead16b228eded603691728cc9bb70246970aae2de",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/dinkie-icons.json",
                      "vectorCount": 1198,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/dinkie-icons/"
                    },
                    {
                      "prefix": "duo-icons",
                      "name": "Duoicons",
                      "count": 91,
                      "author": {
                        "name": "fernandcf",
                        "url": "https://github.com/fazdiu/duo-icons"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/fazdiu/duo-icons/master/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/duo-icons/LICENSE.txt",
                      "licenseSha256": "51d30ee8707d321704064856a7e0bc3821880b4fee7c540093fa784015b5d30b",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/duo-icons.json",
                      "vectorCount": 91,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/duo-icons/"
                    },
                    {
                      "prefix": "ei",
                      "name": "Evil Icons",
                      "count": 70,
                      "author": {
                        "name": "Alexander Madyankin and Roman Shamin",
                        "url": "https://github.com/evil-icons/evil-icons"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/evil-icons/evil-icons/master/LICENSE.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/ei/LICENSE.txt",
                      "licenseSha256": "0b1eeb63a858bcbe125c97776711f85347e11661ea58ef3476a753726e18f2b7",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/ei.json",
                      "vectorCount": 70,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/ei/"
                    },
                    {
                      "prefix": "el",
                      "name": "Elusive Icons",
                      "count": 304,
                      "author": {
                        "name": "Team Redux",
                        "url": "https://github.com/dovy/elusive-icons"
                      },
                      "license": {
                        "title": "Creative Commons Attribution 3.0",
                        "spdx": "CC-BY-3.0",
                        "url": "https://raw.githubusercontent.com/dovy/elusive-icons/5ddd9167c8479ec07b78f3ba7150dc4ad32cc7bc/src/license.html"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/el/LICENSE.txt",
                      "licenseSha256": "e56024ab776c596fde8e85877ef6eaa317a62bf9fed82c74a9ebe6d24303eb5b",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/el.json",
                      "vectorCount": 304,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/el/"
                    },
                    {
                      "prefix": "emojione-monotone",
                      "name": "Emoji One (Monotone)",
                      "count": 1403,
                      "author": {
                        "name": "Emoji One",
                        "url": "https://github.com/EmojiTwo/emojitwo"
                      },
                      "license": {
                        "title": "CC BY 4.0",
                        "spdx": "CC-BY-4.0",
                        "url": "https://creativecommons.org/licenses/by/4.0/legalcode.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/emojione-monotone/LICENSE.txt",
                      "licenseSha256": "9ba9550ad48438d0836ddab3da480b3b69ffa0aac7b7878b5a0039e7ab429411",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/emojione-monotone.json",
                      "vectorCount": 1403,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/emojione-monotone/"
                    },
                    {
                      "prefix": "emojione-v1",
                      "name": "Emoji One (v1)",
                      "count": 1262,
                      "author": {
                        "name": "Emoji One",
                        "url": "https://github.com/joypixels/emojione-legacy"
                      },
                      "license": {
                        "title": "CC BY-SA 4.0",
                        "spdx": "CC-BY-SA-4.0",
                        "url": "https://creativecommons.org/licenses/by-sa/4.0/legalcode.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/emojione-v1/LICENSE.txt",
                      "licenseSha256": "28a9529c7d0bb4dc51f4bf5c116a3d16ef247a052f7591466768ddf563fd1cf5",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/emojione-v1.json",
                      "vectorCount": 1257,
                      "rasterCount": 5,
                      "url": "https://shirtlab.lol/wiki/packs/emojione-v1/"
                    },
                    {
                      "prefix": "emojione",
                      "name": "Emoji One (Colored)",
                      "count": 1834,
                      "author": {
                        "name": "Emoji One",
                        "url": "https://github.com/EmojiTwo/emojitwo"
                      },
                      "license": {
                        "title": "CC BY 4.0",
                        "spdx": "CC-BY-4.0",
                        "url": "https://creativecommons.org/licenses/by/4.0/legalcode.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/emojione/LICENSE.txt",
                      "licenseSha256": "9ba9550ad48438d0836ddab3da480b3b69ffa0aac7b7878b5a0039e7ab429411",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/emojione.json",
                      "vectorCount": 1815,
                      "rasterCount": 19,
                      "url": "https://shirtlab.lol/wiki/packs/emojione/"
                    },
                    {
                      "prefix": "entypo-social",
                      "name": "Entypo+ Social",
                      "count": 76,
                      "author": {
                        "name": "Daniel Bruce",
                        "url": "https://github.com/chancancode/entypo-plus"
                      },
                      "license": {
                        "title": "CC BY-SA 4.0",
                        "spdx": "CC-BY-SA-4.0",
                        "url": "https://creativecommons.org/licenses/by-sa/4.0/legalcode.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/entypo-social/LICENSE.txt",
                      "licenseSha256": "28a9529c7d0bb4dc51f4bf5c116a3d16ef247a052f7591466768ddf563fd1cf5",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/entypo-social.json",
                      "vectorCount": 76,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/entypo-social/"
                    },
                    {
                      "prefix": "entypo",
                      "name": "Entypo+",
                      "count": 321,
                      "author": {
                        "name": "Daniel Bruce",
                        "url": "https://github.com/chancancode/entypo-plus"
                      },
                      "license": {
                        "title": "CC BY-SA 4.0",
                        "spdx": "CC-BY-SA-4.0",
                        "url": "https://creativecommons.org/licenses/by-sa/4.0/legalcode.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/entypo/LICENSE.txt",
                      "licenseSha256": "28a9529c7d0bb4dc51f4bf5c116a3d16ef247a052f7591466768ddf563fd1cf5",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/entypo.json",
                      "vectorCount": 321,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/entypo/"
                    },
                    {
                      "prefix": "eos-icons",
                      "name": "EOS Icons",
                      "count": 253,
                      "author": {
                        "name": "SUSE UX/UI team",
                        "url": "https://gitlab.com/SUSE-UIUX/eos-icons"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://gitlab.com/SUSE-UIUX/eos-icons/-/raw/master/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/eos-icons/LICENSE.txt",
                      "licenseSha256": "8a193941d284cd81e7264fda32127c4d0e3027d374da3a278edec054aaba3e75",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/eos-icons.json",
                      "vectorCount": 252,
                      "rasterCount": 1,
                      "url": "https://shirtlab.lol/wiki/packs/eos-icons/"
                    },
                    {
                      "prefix": "ep",
                      "name": "Element Plus",
                      "count": 293,
                      "author": {
                        "name": "Element Plus",
                        "url": "https://github.com/element-plus/element-plus-icons"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/element-plus/element-plus-icons/main/packages/svg/package.json"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/ep/LICENSE.txt",
                      "licenseSha256": "e69a168e3b7ec909aaec70000079ef1629cb4d8ffc5ad9df0fe2326ab27f0cb0",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/ep.json",
                      "vectorCount": 293,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/ep/"
                    },
                    {
                      "prefix": "et",
                      "name": "Elegant",
                      "count": 100,
                      "author": {
                        "name": "Kenny Sing",
                        "url": "https://github.com/pprince/etlinefont-bower"
                      },
                      "license": {
                        "title": "GPL 3.0",
                        "spdx": "GPL-3.0-or-later",
                        "url": "https://raw.githubusercontent.com/pprince/etlinefont-bower/master/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/et/LICENSE.txt",
                      "licenseSha256": "fe3eea6c599e23a00c08c5f5cb2320c30adc8f8687db5fcec9b79a662c53ff6b",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/et.json",
                      "vectorCount": 100,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/et/"
                    },
                    {
                      "prefix": "eva",
                      "name": "Eva Icons",
                      "count": 490,
                      "author": {
                        "name": "Akveo",
                        "url": "https://github.com/akveo/eva-icons/"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/akveo/eva-icons/master/LICENSE.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/eva/LICENSE.txt",
                      "licenseSha256": "4788c563f8871931bce41ede59379a5277ac1a473e289f9100924149ce8bd311",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/eva.json",
                      "vectorCount": 489,
                      "rasterCount": 1,
                      "url": "https://shirtlab.lol/wiki/packs/eva/"
                    },
                    {
                      "prefix": "f7",
                      "name": "Framework7 Icons",
                      "count": 1253,
                      "author": {
                        "name": "Vladimir Kharlampidi",
                        "url": "https://github.com/framework7io/framework7-icons"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/framework7io/framework7-icons/master/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/f7/LICENSE.txt",
                      "licenseSha256": "61afeee2f1d59f21412901a0015ccbec0315ae4806e3f4fbd167201ebb17b2f8",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/f7.json",
                      "vectorCount": 1253,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/f7/"
                    },
                    {
                      "prefix": "fa-brands",
                      "name": "Font Awesome 5 Brands",
                      "count": 460,
                      "author": {
                        "name": "Dave Gandy",
                        "url": "https://github.com/FortAwesome/Font-Awesome"
                      },
                      "license": {
                        "title": "CC BY 4.0",
                        "spdx": "CC-BY-4.0",
                        "url": "https://creativecommons.org/licenses/by/4.0/legalcode.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/fa-brands/LICENSE.txt",
                      "licenseSha256": "9ba9550ad48438d0836ddab3da480b3b69ffa0aac7b7878b5a0039e7ab429411",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/fa-brands.json",
                      "vectorCount": 460,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/fa-brands/"
                    },
                    {
                      "prefix": "fa-regular",
                      "name": "Font Awesome 5 Regular",
                      "count": 151,
                      "author": {
                        "name": "Dave Gandy",
                        "url": "https://github.com/FortAwesome/Font-Awesome"
                      },
                      "license": {
                        "title": "CC BY 4.0",
                        "spdx": "CC-BY-4.0",
                        "url": "https://creativecommons.org/licenses/by/4.0/legalcode.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/fa-regular/LICENSE.txt",
                      "licenseSha256": "9ba9550ad48438d0836ddab3da480b3b69ffa0aac7b7878b5a0039e7ab429411",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/fa-regular.json",
                      "vectorCount": 151,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/fa-regular/"
                    },
                    {
                      "prefix": "fa-solid",
                      "name": "Font Awesome 5 Solid",
                      "count": 1023,
                      "author": {
                        "name": "Dave Gandy",
                        "url": "https://github.com/FortAwesome/Font-Awesome"
                      },
                      "license": {
                        "title": "CC BY 4.0",
                        "spdx": "CC-BY-4.0",
                        "url": "https://creativecommons.org/licenses/by/4.0/legalcode.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/fa-solid/LICENSE.txt",
                      "licenseSha256": "9ba9550ad48438d0836ddab3da480b3b69ffa0aac7b7878b5a0039e7ab429411",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/fa-solid.json",
                      "vectorCount": 1023,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/fa-solid/"
                    },
                    {
                      "prefix": "fa",
                      "name": "Font Awesome 4",
                      "count": 498,
                      "author": {
                        "name": "Dave Gandy",
                        "url": "https://github.com/FortAwesome/Font-Awesome/tree/fa-4"
                      },
                      "license": {
                        "title": "Open Font License",
                        "spdx": "OFL-1.1",
                        "url": "https://raw.githubusercontent.com/FortAwesome/Font-Awesome/a8386aae19e200ddb0f6845b5feeee5eb7013687/README.md"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/fa/LICENSE.txt",
                      "licenseSha256": "f50d4c80085ce6136b6138b3c0f8ff702e9c99ed65e19cce312835e87422f1f2",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/fa.json",
                      "vectorCount": 498,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/fa/"
                    },
                    {
                      "prefix": "fa6-brands",
                      "name": "Font Awesome 6 Brands",
                      "count": 495,
                      "author": {
                        "name": "Dave Gandy",
                        "url": "https://github.com/FortAwesome/Font-Awesome"
                      },
                      "license": {
                        "title": "CC BY 4.0",
                        "spdx": "CC-BY-4.0",
                        "url": "https://creativecommons.org/licenses/by/4.0/legalcode.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/fa6-brands/LICENSE.txt",
                      "licenseSha256": "9ba9550ad48438d0836ddab3da480b3b69ffa0aac7b7878b5a0039e7ab429411",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/fa6-brands.json",
                      "vectorCount": 495,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/fa6-brands/"
                    },
                    {
                      "prefix": "fa6-regular",
                      "name": "Font Awesome 6 Regular",
                      "count": 164,
                      "author": {
                        "name": "Dave Gandy",
                        "url": "https://github.com/FortAwesome/Font-Awesome"
                      },
                      "license": {
                        "title": "CC BY 4.0",
                        "spdx": "CC-BY-4.0",
                        "url": "https://creativecommons.org/licenses/by/4.0/legalcode.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/fa6-regular/LICENSE.txt",
                      "licenseSha256": "9ba9550ad48438d0836ddab3da480b3b69ffa0aac7b7878b5a0039e7ab429411",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/fa6-regular.json",
                      "vectorCount": 164,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/fa6-regular/"
                    },
                    {
                      "prefix": "fa6-solid",
                      "name": "Font Awesome 6 Solid",
                      "count": 1407,
                      "author": {
                        "name": "Dave Gandy",
                        "url": "https://github.com/FortAwesome/Font-Awesome"
                      },
                      "license": {
                        "title": "CC BY 4.0",
                        "spdx": "CC-BY-4.0",
                        "url": "https://creativecommons.org/licenses/by/4.0/legalcode.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/fa6-solid/LICENSE.txt",
                      "licenseSha256": "9ba9550ad48438d0836ddab3da480b3b69ffa0aac7b7878b5a0039e7ab429411",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/fa6-solid.json",
                      "vectorCount": 1407,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/fa6-solid/"
                    },
                    {
                      "prefix": "fa7-brands",
                      "name": "Font Awesome Brands",
                      "count": 608,
                      "author": {
                        "name": "Dave Gandy",
                        "url": "https://github.com/FortAwesome/Font-Awesome"
                      },
                      "license": {
                        "title": "CC BY 4.0",
                        "spdx": "CC-BY-4.0",
                        "url": "https://creativecommons.org/licenses/by/4.0/legalcode.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/fa7-brands/LICENSE.txt",
                      "licenseSha256": "9ba9550ad48438d0836ddab3da480b3b69ffa0aac7b7878b5a0039e7ab429411",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/fa7-brands.json",
                      "vectorCount": 608,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/fa7-brands/"
                    },
                    {
                      "prefix": "fa7-regular",
                      "name": "Font Awesome Regular",
                      "count": 272,
                      "author": {
                        "name": "Dave Gandy",
                        "url": "https://github.com/FortAwesome/Font-Awesome"
                      },
                      "license": {
                        "title": "CC BY 4.0",
                        "spdx": "CC-BY-4.0",
                        "url": "https://creativecommons.org/licenses/by/4.0/legalcode.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/fa7-regular/LICENSE.txt",
                      "licenseSha256": "9ba9550ad48438d0836ddab3da480b3b69ffa0aac7b7878b5a0039e7ab429411",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/fa7-regular.json",
                      "vectorCount": 272,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/fa7-regular/"
                    },
                    {
                      "prefix": "fa7-solid",
                      "name": "Font Awesome Solid",
                      "count": 2000,
                      "author": {
                        "name": "Dave Gandy",
                        "url": "https://github.com/FortAwesome/Font-Awesome"
                      },
                      "license": {
                        "title": "CC BY 4.0",
                        "spdx": "CC-BY-4.0",
                        "url": "https://creativecommons.org/licenses/by/4.0/legalcode.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/fa7-solid/LICENSE.txt",
                      "licenseSha256": "9ba9550ad48438d0836ddab3da480b3b69ffa0aac7b7878b5a0039e7ab429411",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/fa7-solid.json",
                      "vectorCount": 2000,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/fa7-solid/"
                    },
                    {
                      "prefix": "fad",
                      "name": "FontAudio",
                      "count": 155,
                      "author": {
                        "name": "@fefanto",
                        "url": "https://github.com/fefanto/fontaudio"
                      },
                      "license": {
                        "title": "CC BY 4.0",
                        "spdx": "CC-BY-4.0",
                        "url": "https://creativecommons.org/licenses/by/4.0/legalcode.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/fad/LICENSE.txt",
                      "licenseSha256": "9ba9550ad48438d0836ddab3da480b3b69ffa0aac7b7878b5a0039e7ab429411",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/fad.json",
                      "vectorCount": 155,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/fad/"
                    },
                    {
                      "prefix": "famicons",
                      "name": "Famicons",
                      "count": 1342,
                      "author": {
                        "name": "Family",
                        "url": "https://github.com/familyjs/famicons"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/familyjs/famicons/main/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/famicons/LICENSE.txt",
                      "licenseSha256": "21d94b8dda4708c50c8774745a90ad0a6b12fc3c6682bc79e3d75d76f0cecbcd",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/famicons.json",
                      "vectorCount": 1339,
                      "rasterCount": 3,
                      "url": "https://shirtlab.lol/wiki/packs/famicons/"
                    },
                    {
                      "prefix": "fe",
                      "name": "Feather Icon",
                      "count": 255,
                      "author": {
                        "name": "Megumi Hano",
                        "url": "https://github.com/feathericon/feathericon"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/feathericon/feathericon/master/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/fe/LICENSE.txt",
                      "licenseSha256": "28d055822742fc96b860d1218040f9a276f1b159acb54d43785b63f150b9efdc",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/fe.json",
                      "vectorCount": 254,
                      "rasterCount": 1,
                      "url": "https://shirtlab.lol/wiki/packs/fe/"
                    },
                    {
                      "prefix": "feather",
                      "name": "Feather Icons",
                      "count": 286,
                      "author": {
                        "name": "Cole Bemis",
                        "url": "https://github.com/feathericons/feather"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/feathericons/feather/master/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/feather/LICENSE.txt",
                      "licenseSha256": "308028e93fcf84972523cdf6e616f73168546b4953895f516d01287f16fe7bee",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/feather.json",
                      "vectorCount": 286,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/feather/"
                    },
                    {
                      "prefix": "file-icons",
                      "name": "File Icons",
                      "count": 930,
                      "author": {
                        "name": "John Gardner",
                        "url": "https://github.com/file-icons/icons"
                      },
                      "license": {
                        "title": "ISC",
                        "spdx": "ISC",
                        "url": "https://raw.githubusercontent.com/file-icons/icons/master/LICENSE.md"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/file-icons/LICENSE.txt",
                      "licenseSha256": "4cf461166015ffcd815aa6432406eaa6593d99f8c8e569947beeab559582bcfa",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/file-icons.json",
                      "vectorCount": 930,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/file-icons/"
                    },
                    {
                      "prefix": "flag",
                      "name": "Flag Icons",
                      "count": 540,
                      "author": {
                        "name": "Panayiotis Lipiridis",
                        "url": "https://github.com/lipis/flag-icons"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/lipis/flag-icons/main/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/flag/LICENSE.txt",
                      "licenseSha256": "8f1195d55a2fd315a07d812328470ca9ba2abb78c8d317ff19619d5125e00cea",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/flag.json",
                      "vectorCount": 277,
                      "rasterCount": 263,
                      "url": "https://shirtlab.lol/wiki/packs/flag/"
                    },
                    {
                      "prefix": "flagpack",
                      "name": "Flagpack",
                      "count": 256,
                      "author": {
                        "name": "Yummygum",
                        "url": "https://github.com/Yummygum/flagpack-core"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/Yummygum/flagpack-core/main/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/flagpack/LICENSE.txt",
                      "licenseSha256": "0782049e6fcf875b7cb7d14095a2d6d6e80fcebbd7bd3e2d0532eb14106cf164",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/flagpack.json",
                      "vectorCount": 99,
                      "rasterCount": 157,
                      "url": "https://shirtlab.lol/wiki/packs/flagpack/"
                    },
                    {
                      "prefix": "flat-color-icons",
                      "name": "Flat Color Icons",
                      "count": 329,
                      "author": {
                        "name": "Icons8",
                        "url": "https://github.com/icons8/flat-Color-icons"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/icons8/flat-color-icons/1bf90d5ff118bc6690120ff9fdfe234565b7e414/LICENSE.md"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/flat-color-icons/LICENSE.txt",
                      "licenseSha256": "1552b1dba9495d3fcbc415eb693c7e9f5e5461e4e737a1201faf4ae5e46f473e",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/flat-color-icons.json",
                      "vectorCount": 327,
                      "rasterCount": 2,
                      "url": "https://shirtlab.lol/wiki/packs/flat-color-icons/"
                    },
                    {
                      "prefix": "flat-ui",
                      "name": "Flat UI Icons",
                      "count": 100,
                      "author": {
                        "name": "Designmodo, Inc.",
                        "url": "https://github.com/designmodo/Flat-UI"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/designmodo/Flat-UI/master/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/flat-ui/LICENSE.txt",
                      "licenseSha256": "97bb799656e115afeff4c4eb779b6e9a1e430cd7196829af0a2dd9292bb96d63",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/flat-ui.json",
                      "vectorCount": 67,
                      "rasterCount": 33,
                      "url": "https://shirtlab.lol/wiki/packs/flat-ui/"
                    },
                    {
                      "prefix": "flowbite",
                      "name": "Flowbite Icons",
                      "count": 804,
                      "author": {
                        "name": "Themesberg",
                        "url": "https://github.com/themesberg/flowbite-icons"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/themesberg/flowbite-icons/main/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/flowbite/LICENSE.txt",
                      "licenseSha256": "b3282d91fbf0ac51c848c7f18fc82b67a1ffbcfaada35af81cfa0fd8966101d3",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/flowbite.json",
                      "vectorCount": 803,
                      "rasterCount": 1,
                      "url": "https://shirtlab.lol/wiki/packs/flowbite/"
                    },
                    {
                      "prefix": "fluent-color",
                      "name": "Fluent UI System Color Icons",
                      "count": 890,
                      "author": {
                        "name": "Microsoft Corporation",
                        "url": "https://github.com/microsoft/fluentui-system-icons"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/microsoft/fluentui-system-icons/main/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/fluent-color/LICENSE.txt",
                      "licenseSha256": "69bc45dc42b9acb96a69823adbc6ae538374e3c0bde169b855b32c48eaaef52f",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/fluent-color.json",
                      "vectorCount": 878,
                      "rasterCount": 12,
                      "url": "https://shirtlab.lol/wiki/packs/fluent-color/"
                    },
                    {
                      "prefix": "fluent-emoji-flat",
                      "name": "Fluent Emoji Flat",
                      "count": 3180,
                      "author": {
                        "name": "Microsoft Corporation",
                        "url": "https://github.com/microsoft/fluentui-emoji"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/microsoft/fluentui-emoji/main/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/fluent-emoji-flat/LICENSE.txt",
                      "licenseSha256": "c2cfccb812fe482101a8f04597dfc5a9991a6b2748266c47ac91b6a5aae15383",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/fluent-emoji-flat.json",
                      "vectorCount": 3133,
                      "rasterCount": 47,
                      "url": "https://shirtlab.lol/wiki/packs/fluent-emoji-flat/"
                    },
                    {
                      "prefix": "fluent-emoji-high-contrast",
                      "name": "Fluent Emoji High Contrast",
                      "count": 1595,
                      "author": {
                        "name": "Microsoft Corporation",
                        "url": "https://github.com/microsoft/fluentui-emoji"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/microsoft/fluentui-emoji/main/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/fluent-emoji-high-contrast/LICENSE.txt",
                      "licenseSha256": "c2cfccb812fe482101a8f04597dfc5a9991a6b2748266c47ac91b6a5aae15383",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/fluent-emoji-high-contrast.json",
                      "vectorCount": 1514,
                      "rasterCount": 81,
                      "url": "https://shirtlab.lol/wiki/packs/fluent-emoji-high-contrast/"
                    },
                    {
                      "prefix": "fluent-emoji",
                      "name": "Fluent Emoji",
                      "count": 3180,
                      "author": {
                        "name": "Microsoft Corporation",
                        "url": "https://github.com/microsoft/fluentui-emoji"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/microsoft/fluentui-emoji/main/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/fluent-emoji/LICENSE.txt",
                      "licenseSha256": "c2cfccb812fe482101a8f04597dfc5a9991a6b2748266c47ac91b6a5aae15383",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/fluent-emoji.json",
                      "vectorCount": 128,
                      "rasterCount": 3052,
                      "url": "https://shirtlab.lol/wiki/packs/fluent-emoji/"
                    },
                    {
                      "prefix": "fluent-mdl2",
                      "name": "Fluent UI MDL2",
                      "count": 1735,
                      "author": {
                        "name": "Microsoft Corporation",
                        "url": "https://github.com/microsoft/fluentui/tree/master/packages/react-icons-mdl2"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/microsoft/fluentui/master/packages/react-icons-mdl2/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/fluent-mdl2/LICENSE.txt",
                      "licenseSha256": "4d0c29b5ff7917695e6ed0c1f358624faf4340da1232bb1d684ccc12b5afeffd",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/fluent-mdl2.json",
                      "vectorCount": 1735,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/fluent-mdl2/"
                    },
                    {
                      "prefix": "fluent",
                      "name": "Fluent UI System Icons",
                      "count": 20265,
                      "author": {
                        "name": "Microsoft Corporation",
                        "url": "https://github.com/microsoft/fluentui-system-icons"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/microsoft/fluentui-system-icons/main/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/fluent/LICENSE.txt",
                      "licenseSha256": "69bc45dc42b9acb96a69823adbc6ae538374e3c0bde169b855b32c48eaaef52f",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/fluent.json",
                      "vectorCount": 20265,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/fluent/"
                    },
                    {
                      "prefix": "fontelico",
                      "name": "Fontelico",
                      "count": 34,
                      "author": {
                        "name": "Fontello",
                        "url": "https://github.com/fontello/fontelico.font"
                      },
                      "license": {
                        "title": "CC BY SA",
                        "spdx": "CC-BY-SA-3.0",
                        "url": "https://creativecommons.org/licenses/by-sa/3.0/legalcode.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/fontelico/LICENSE.txt",
                      "licenseSha256": "3f941b3b89cf7b8370ceb83cc76d2120d471b58735d8ca60238a751a48d7f72f",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/fontelico.json",
                      "vectorCount": 34,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/fontelico/"
                    },
                    {
                      "prefix": "fontisto",
                      "name": "Fontisto",
                      "count": 615,
                      "author": {
                        "name": "Kenan Gündoğan",
                        "url": "https://github.com/kenangundogan/fontisto"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/kenangundogan/fontisto/master/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/fontisto/LICENSE.txt",
                      "licenseSha256": "5a4e7aff65f0b7cb83c0f9b52a9f675a33fb57764e1ecd8f1a706bb4d9ecc6b0",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/fontisto.json",
                      "vectorCount": 615,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/fontisto/"
                    },
                    {
                      "prefix": "formkit",
                      "name": "FormKit Icons",
                      "count": 144,
                      "author": {
                        "name": "FormKit, Inc",
                        "url": "https://github.com/formkit/formkit/tree/master/packages/icons"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/formkit/formkit/master/packages/icons/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/formkit/LICENSE.txt",
                      "licenseSha256": "0d1b2d1605484f9d3634d502cc51bf02c35d7f1a01af8f7414a2ed35fff8c68c",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/formkit.json",
                      "vectorCount": 144,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/formkit/"
                    },
                    {
                      "prefix": "foundation",
                      "name": "Foundation",
                      "count": 283,
                      "author": {
                        "name": "Zurb",
                        "url": "https://github.com/zurb/foundation-icon-fonts"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/zurb/foundation-icon-fonts/afed003521ff971bc614de68bba2676e16ce39f4/foundation-icons.css"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/foundation/LICENSE.txt",
                      "licenseSha256": "3a4286e0daa674c97f96d0a756e1b47d3e06f56e5eb468a556294f38aa021b7c",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/foundation.json",
                      "vectorCount": 283,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/foundation/"
                    },
                    {
                      "prefix": "fxemoji",
                      "name": "Firefox OS Emoji",
                      "count": 1034,
                      "author": {
                        "name": "Mozilla",
                        "url": "https://github.com/mozilla/fxemoji"
                      },
                      "license": {
                        "title": "Apache 2.0",
                        "spdx": "Apache-2.0",
                        "url": "https://mozilla.github.io/fxemoji/LICENSE.md"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/fxemoji/LICENSE.txt",
                      "licenseSha256": "870f6b7eecae0aa67ceb208589e14878b850c5421794fe9b8ec1e9068b009e67",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/fxemoji.json",
                      "vectorCount": 1034,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/fxemoji/"
                    },
                    {
                      "prefix": "gala",
                      "name": "Gala Icons",
                      "count": 51,
                      "author": {
                        "name": "Jake Wells",
                        "url": "https://github.com/cyberalien/gala-icons"
                      },
                      "license": {
                        "title": "GPL",
                        "spdx": "GPL-3.0",
                        "url": "https://raw.githubusercontent.com/cyberalien/gala-icons/main/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/gala/LICENSE.txt",
                      "licenseSha256": "3972dc9744f6499f0f9b2dbf76696f2ae7ad8af9b23dde66d6af86c9dfb36986",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/gala.json",
                      "vectorCount": 51,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/gala/"
                    },
                    {
                      "prefix": "game-icons",
                      "name": "Game Icons",
                      "count": 4134,
                      "author": {
                        "name": "GameIcons",
                        "url": "https://github.com/game-icons/icons"
                      },
                      "license": {
                        "title": "CC BY 3.0",
                        "spdx": "CC-BY-3.0",
                        "url": "https://raw.githubusercontent.com/game-icons/icons/master/license.txt"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/game-icons/LICENSE.txt",
                      "licenseSha256": "fac95252798668fab5ea2cb08338f2ebc6bf894a72b19a15af1ca62f0a6d2e79",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/game-icons.json",
                      "vectorCount": 4134,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/game-icons/"
                    },
                    {
                      "prefix": "garden",
                      "name": "Garden SVG Icons",
                      "count": 1027,
                      "author": {
                        "name": "Zendesk",
                        "url": "https://github.com/zendeskgarden/svg-icons"
                      },
                      "license": {
                        "title": "Apache 2.0",
                        "spdx": "Apache-2.0",
                        "url": "https://raw.githubusercontent.com/zendeskgarden/svg-icons/main/LICENSE.md"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/garden/LICENSE.txt",
                      "licenseSha256": "46ae5f0dc2e06a18cde8b06bdb45abea0b6e28d169e6eff2069536780304cf6e",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/garden.json",
                      "vectorCount": 1027,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/garden/"
                    },
                    {
                      "prefix": "gcp",
                      "name": "Google Cloud Icons",
                      "count": 214,
                      "author": {
                        "name": "Google Cloud"
                      },
                      "license": {
                        "title": "Apache 2.0",
                        "spdx": "Apache-2.0",
                        "url": "https://www.apache.org/licenses/LICENSE-2.0"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/gcp/LICENSE.txt",
                      "licenseSha256": "cfc7749b96f63bd31c3c42b5c471bf756814053e847c10f3eb003417bc523d30",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/gcp.json",
                      "vectorCount": 205,
                      "rasterCount": 9,
                      "url": "https://shirtlab.lol/wiki/packs/gcp/"
                    },
                    {
                      "prefix": "geo",
                      "name": "GeoGlyphs",
                      "count": 30,
                      "author": {
                        "name": "Sam Matthews",
                        "url": "https://github.com/cugos/geoglyphs"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/cugos/geoglyphs/main/LICENSE.md"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/geo/LICENSE.txt",
                      "licenseSha256": "7443794aaa23c79413b2056764a5473e57a9b455c53a5500e12c20654c8b6a8f",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/geo.json",
                      "vectorCount": 30,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/geo/"
                    },
                    {
                      "prefix": "gg",
                      "name": "css.gg",
                      "count": 704,
                      "author": {
                        "name": "Astrit",
                        "url": "https://github.com/astrit/css.gg"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/astrit/css.gg/main/LICENSE.md"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/gg/LICENSE.txt",
                      "licenseSha256": "901673e29904f76a9735f1430f9ee59867aae09692168d7abf1ba6adf01f8195",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/gg.json",
                      "vectorCount": 704,
                      "rasterCount": 0,
                      "url": "https://shirtlab.lol/wiki/packs/gg/"
                    },
                    {
                      "prefix": "ginetex",
                      "name": "Ginetex Care Symbols",
                      "count": 50,
                      "author": {
                        "name": "YESSIR Organization",
                        "url": "https://github.com/yessir-web-tech/ginetex-icons"
                      },
                      "license": {
                        "title": "MIT",
                        "spdx": "MIT",
                        "url": "https://raw.githubusercontent.com/yessir-web-tech/ginetex-icons/main/LICENSE"
                      },
                      "licenseUrl": "https://shirtlab.lol/icon-catalogue/ginetex/LICENSE.txt",
                      "licenseSha256": "17ee1bf77bb4395ad5c065e0330051aba3251b2513f739ab7b5a21e467ede53b",
                      "source": "https://unpkg.com/@iconify/json@2.2.534/json/ginetex.json",
                      "vectorCount": 33,
                      "rasterCount": 17,
                      "url": "https://shirtlab.lol/wiki/packs/ginetex/"
                    },
                    {
                      "prefix": "gis",
                      "name": "Font-GIS",
                      "count": 367,
                      "author": {
                        "name": "Jean-Marc Viglino",
                        "url": "https://github.com/viglino/font-gis"
                      },
[...]
